body, html {
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    width: 100%;
    background: url("image_fondo1.png") center center;
    background-size: cover;
    margin: 0;
    position: relative;
}

.contenedor {
    position: absolute;
    bottom: 200px; /* distancia desde abajo */
    right: 200px;  /* distancia desde la derecha */
    text-align: center;
    padding: 20px;
    background-color: #67b83b;
    border-radius: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.boton-redireccion {
  display: inline-block;
  background-color: #7ff070;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 10px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

.boton-redireccion:hover {
  background-color: #69f154;
}
